.personal-detail-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  &>div {
    width: 50%;
  }
}

.man-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 78px 64px;
  img {
    height: 100%;
  }
}
.detail-form {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding-top: 80px;
}
.form-heading {
  margin-bottom: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  padding-right: 152px;
  & > div {
    margin-bottom: 32px;
  }
  & > div:last-child {
    margin-top: 56px;
  }
}
