.tab_container {
    width: 74%;
    height: 44px;
    border-bottom: 1px solid #DFE0F3;
    position: absolute;
    top: 480px;
    left: 340px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

nav ul li a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #9E9E9E;
}

.tab.active {
    color: #000000;
    border-bottom: 1px solid #4C4DDC;
}
#tabs {
    width: 160px;
    height: 27px;
    color: #000000;
    border-bottom: 1px solid #4C4DDC;
}

#tabs a {
    color: #000000;
}
