// @import "../../variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.body{
    // position: relative;
    background-color: white;
}


.profiles {
    width: 48px;
    height: 48px;
    background-image: url("./ModelIcons/profile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: red;
  }



  form{
    // background-color: white;
    // background-color: red;
    width: 30%;
    display: block;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    gap: 7px;
  }

form h3{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;

}

input{
    padding: 6px 8px;

}

 .btn {
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        color: white;
        background-color: #4c4ddc;
        padding: 10px 50px;
        border: none;
        border-radius: 2px;
        margin-top: 30px;

      }

      span{
        font-size: 12px;
        color: black;
        margin-top: 0px;
      }


      .btncont{
        background-color: #F5F5F5;
        display: flex;
        justify-content: right;
        align-content: flex-start;
        padding-right: 10px;

      }

      .btns{
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        color: white;
        background-color: #4c4ddc;
        padding: 10px 50px;
        border: none;
        
        border-radius: 6px;
      }

      .textcont{
        display: block;
        gap: 40px;
        margin-bottom: 7px;



      }


      // .previewcontainer{
      //   // background-color: red;
      //   width: 400px;
      //   margin: auto auto;
      //   margin-top: 30px;


        // display: block;
        // justify-content: center;
        // align-content: center;
    