// @import "../../variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: white;
}

.profiles {
  width: 48px;
  height: 48px;
  background-image: url("./ModelIcons/profile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}


.btncont {
  background-color: #f5f5f5;
  display: flex;
  justify-content: right;
  align-content: flex-start;
  padding-right: 10px;
}

.btns {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: white;
  background-color: #4c4ddc;
  padding: 10px 50px;
  border: none;

  border-radius: 6px;
}

.textcont {
  display: block;
  gap: 40px;
  margin-bottom: 7px;
}
