@import "../../variables";

.main{
    text-align: center;
}


.h2text{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.ptext{
    margin-bottom: 15px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

text-align: center;
letter-spacing: -0.011em;
}

.ptext2{
    margin-bottom: 25px;
    color: #CD7B2E;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px
}

.footer{
    margin-top: 20px;
}

span{
    color: #4c4ddc;
}

.email{
color: yellow;
}

btn {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: white;
    background-color: #4c4ddc;
    padding: 10px 50px;
    border: none;
    border-radius: 2px;
  }