*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.teamscontain{
  position: absolute; 
  margin-left: 25px;
}
.mainteamscontainer{
  
  //  align-items: flex-start;
  //  padding: 0px;
  //  gap: 30px;
  //position: absolute;
   //width: 1000px;
  // height: 872px;
  //  left: 344px;
  //  top: 40px;
  //  margin-left: 30px;
  //  margin-top: 15px;
   
   
}
.tops{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}



.topleft{
  display: flex;
  font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #9E9E9E;
    // margin-right: 5px;
}

.topleft h1 {
  width: 115px;
  height: 28px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.017em;
  color: #000000;
}

.teaminput{
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 8px;
    width: 510px;
    height: 50px;
    background: #FCFCFC;
    border-radius: 40px;
    margin-left: 40px;
}

.topleft .teamssearchbar{
  background: #FCFCFC;
    border-width: 0;
    font-family: "Inter", sans-serif;
    outline: none;
}
.searchicon input{
  width: 57px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
}

.teamssearchbar::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-align: left;
  
}
.searchicon {
  color: #555;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  
}

.teamssearchbar input {
  width: 57px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1E1E1E;
  border: none;
  flex: none;
  padding-left: 1px;
}
.topright{

  background: #4C4DDC;
  margin-right: 20px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  // gap: 40px;
  height: 56px;
  width: 240px;
  margin-left: 200px;
  color: white;
}
.topright button{
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  
  display: block;
  text-align: center;
  // padding: 8px 10px 8px 8px;
  letter-spacing: -0.011em;
}
