.customer_name {
    font-size: 32px;
    // line-height: 44px;
    font-weight: 700;
    margin-bottom: 10px;
}

.customer_details_title {
    display: flex;
    width: 150px;
    flex-direction: row;
    align-items: center;
    color: #616161;
    gap: 10px;
}
.customer_details__title {
    display: flex;
    flex-direction: row;
    color: #0c0c0c;
    gap: 10px;
    align-items: center;
}

.customer_details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #0c0c0c;
    font-size: 14px;
    padding: 9px 0px;
 }

.customer_details_wrraper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6px 40px;
}