// .customer_name {
//     // line-height: 44px;
//     font-weight: 700;
// }

.customer_document_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #DFE0F3;
    background-color: #F5F5FF;
    border-radius:unset;
}

.nav {
    text-decoration: none;
    color: #4c4ddc;
    margin-bottom: 12px;
    font-size: 14px;
}


.customer_details_title{
    display: flex;
    width: 180px;
    flex-direction: row;
    align-items: center;
    color: #616161;
    gap: 8px;
    margin-bottom: 10px;
}

.image {
    width: 14px;
    height: 14px;
}

.customer_details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 22px;
    font-size: 14px;
}

.customer_document_value{
    font-weight: 400;
    font-size: 12px;
    color: #757575;
}

.customer_document {
    font-weight: 400;
    color: #0c0c0c;
    font-size: 14px;
 }

 .customer_document_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 4px 0px;
 }

.customer_details_wrraper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 60%;
    top: 19%;
}