.main_one {
  width: 100%;
  height: 100%;
}
.size-two {
  margin-top: 50px auto;
  width: 80%;
}
.inputBox-one,
.selectBox-one {
  display: block;
  height: 35px;
  width: 100%;
  margin-top: 1px;
  border-radius: 5px;
  background-color: #c2c2c2;
  font-size: 14px;
  padding: 8px 12px;
  border: 1px solid #c2c2c2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
}
.inputBox-one:focus {
  outline: 1px solid #999999;
}
.inputBox-one::placeholder {
  font-size: 12px;
}
.selectBox-one {
  font-size: 14px;
  padding: 5px 12px;
}

.chakra {
  width: 100%;
  height: 100vh;
  display: flex !important;
}
.divTwo {
  flex-basis: 100%;
}
.divOne {
  display: flex !important;
  flex-direction: column !important;
  flex-basis: 40%;
  border-right: 1px solid gray;
  padding-top: 5rem;
}
.tabItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #9e9e9e;
  padding: 0.3rem;
}
:active {
  .tabItem {
    color: black;
  }
}
