.gridcotainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 32px;
    background: #FFFFFF;
    margin-top: 80px;
    margin-left: 32px;
}

.griditem {
    width: 220px;
    height: 90px;
    text-align: justify;
    background: #DFE0F3;
    border: 1px solid #DFE0F3;
    border-radius: 8px;
    padding: 10px 0px 10px 20px;
}

.griditem h2{
    margin: -5px;
}

.griditem p{
    color: #616161;
    font-size: 14px;
}