@import "../../variables";

.btn {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: white;
    background-color: #4c4ddc;
    padding: 10px 50px;
    border: none;
    border-radius: 2px;
  }

  .h2text{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .container{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
  }
