body {
    margin: 0;
}
.main-container {
    display: flex;
    height: 100vh;
    img {
        max-width: 75px;
        max-height: 75px;
        border-radius: 50%;
    }
    .chat-input-2 {
        width: 80%;
        padding: 0 1rem;
        input {
            background-color: white;
            border-radius: 2rem;
        }
    }
    .no-message {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 63%;
        h3 {
            font-family: cursive;
            font-size: 2rem;
        }
        .float {
            animation: floating 2s linear infinite;
            margin: 3.5rem auto;
            padding: 1rem;
            background: #4c4ddc;
            color: #ffffff;
            box-shadow: -20px -17px 8px 0px #5a9bad63;
        }
        @keyframes floating {
            0% {
                transform: translate(0%, 30%);
            }
            50% {
                transform: translate(0%, -30%);
            }
            100% {
                transform: translate(0%, 30%);
            }
        }
    }
}
.child-container-1 {
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 100%;
    .search-area {
        margin-left: 40px;
        h3 {
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
        }
        .chat-input-2 {
            width: 80%;
            padding-left: 1rem;
            padding-top: 1.5rem;
            input {
                border: none;
                border-radius: 2rem;
                background: #fcfcfc;
                placeholder {
                    color: #9e9e9e;
                }
            }
        }
    }
    .friend-main {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-right: 15px;
        padding-left: 40px;
    }
    .friend-list {
        display: flex;
        img {
            padding: 10px;
        }
    }
    .friend-name {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .juliet {
            font-size: 20px;
            font-weight: 500px;

            color: #616161;
        }
    }
    .time {
        display: flex;
        flex-direction: column;
        .two {
            width: 24px;
            height: 24px;
            background-color: #4c4ddc;
            border-radius: 50%;
            color: #ffffff;
            text-align: center;
        }
    }
}

.child-container-2 {
    width: 63%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-left: 2px solid #f5f5ff;

    .EmojiPickerReact {
        position: absolute !important;
        bottom: 10% !important;
    }
    .EmojiPickerReact button.epr-emoji .epr-emoji-img {
        padding: 0 16px 0 0 !important;
    }
    .container-2-top {
        display: flex;
        justify-content: space-between;
        height: 12%;
        padding: 10px;
        border-bottom: 2px solid #f5f5ff;

        .top-2-child {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 20px;
                font-weight: 500px;
                padding: 20px;
                color: #616161;
            }
            .dot {
                margin-left: 20px;
            }
            img {
                cursor: pointer;
            }
            input {
                margin-right: 1rem;
            }
        }
    }
    .message {
        display: flex;
        flex-direction: column-reverse;
        overflow: scroll;
        height: 77%;
        color: #fcfcfc;
        padding: 32px 40px;
        width: 105%;
        overflow-x: hidden;
        img {
            border-radius: 0;
        }
        .sent-msg,
        .received-msg {
            margin-top: 12px;
            article {
                font-size: 3rem;
            }
            img {
                max-width: 60%;
            }
        }
        .sent-msg {
            display: flex;
            justify-content: end;
            margin-left: 32px;
            span {
                background-color: #4c4ddc;
                padding: 8px 21px;
                border-radius: 4px;
                color: #ffffff;
                max-width: 50%;
                align-items: center;
            }
        }
        .received-msg {
            display: flex;
            max-width: 50.3%;
            span {
                color: #616161;
                margin-bottom: 16px;
            }
        }
    }
    .bottom {
        height: 11%;
        display: flex;
        align-items: center;
        background: #f5f5ff;
        img {
            padding-right: 1rem;
            margin-left: 2rem;
        }
        .placeholder {
            padding-left: 24px;
        }
    }
}

.text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #616161;
}
.Input-field {
    width: 305px;
    height: 28px;
    border: 1px solid #dfe0f3;
    border-radius: 40px;
}
