@import "../../variables";

.container {
  // margin-inline: 1.5rem;
  background-color: rgb(0, 255, 0);
  max-width: 1440px;
  width: 100%;
  @media screen and (min-width: 1440px) {
    margin-inline: auto;
  }
}
