

.peacetablee{
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
}

.peacetextcontainer{
    text-align: center;
    margin: 2%;
}

.peacehtext{
    font-size: 90%;
    font-weight: bold;
    color: black;
}

.peaceptext{
    margin-top: 1%;
}

.peacescorescontainer{
display: flex;
justify-content: center;
align-items: center;
}


.peacescoresbtn{
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #4c4ddc;
    padding: 10px 50px;
    border: none;
    border-radius: 2px;
    margin-top: 60px;
}

.peacescores{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.peacescoresplace{
    border-radius: 5px;
    margin-right: 5%;
    border: 1px solid #C2C2C2;
    padding: 12px 24px;
}

.peacetitle {
    font-size: 16px;
    font-weight: 700;
}

.peacemodeldetails {
    border: 1px solid #DFE0F3;
}

.peacemodelhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 320px;
    height: 40px;
    background: #F5F5F5;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 8px 8px 0px 0px;
    font-size: 14px;
    font-weight: 600;
}

.peacemodelresult {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 320px;
    height: 40px;
    background: #F5F5F5;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 0px 0px 8px 8px;
    font-size: 14px;
    font-weight: 600;
}

.peacemodellist1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 320px;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #E0E0E0;
    font-size: 12px;
}

.peacelist2 {
    color: #404040;
}

.peacelist3 {
    color: #404040;
}

.peaceresult {
    color: #404040;
}

.peacestyle.peacescoreslabel{
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #0A0A0A;
}

.peacestyle.peacescoreslabel1{
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #0A0A0A;
}