.top {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
  }

.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 400px;
}

.btn {
  display: flex;
  width: 200px;
  height: 48px;
  border-radius: 6px;
  border: none;
  background-color: #4c4ddc;
  color: #DFE0F3;
  font-size: 16px;
  font-weight: 400px;
  cursor: pointer;
  padding: 6px 12px;
  justify-content: space-between;
  align-items: center;
}


