.top {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
  }

.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 400px;
}




