*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  
  
  .team-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #ffffff;
    letter-spacing: -0.011em;
    border: 1px solid rgb(255, 255, 255);
  } 
  
  .team-bloc-tabs {
    display: flex;
    color: grey;
  }
  
  .teams-tabs {
    padding: 15px;
    text-align: center;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-sizing: content-box;
    /* position: relative; */
    outline: none;
    margin-left: 10px;
    
  }
  

  .teams-tabs:not(:last-child){
    border-right: 1px solid rgb(255, 255, 255);
    /* font-size: 16px; */
  }
  
  .teams-active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
    color: black;
    /* font-size: 16px; */
    
  }
  
  .teams-active-tabs::before {
    content: "";
    display: block;
    /* position: absolute; */
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 79px;
    height: 3px;
    background: rgb(50, 146, 249);
  }
  
  
  
  .team-container .team-bloc-tabs button {
    border: none;
  }
  .teams-content-tabs {
    flex-grow : 1;
  }
  .teams-content {
    background: white;
    padding: 20px;
    display: none;
    /* padding-top: 0px; */
    font-size: 14px;
  }
  .teams-content p {
    width: 100%;
    height: 100%;
  }
  .teams-active-content {
    display: block;
  }
  .teampaginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px; 
  }
  