*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #ffffff;
    width: 1040px;
    height:80%;
    
  }
  
  .team-container {
    display: flex;
    flex-direction: column;
    position: relative;
    /* width: 700px; */
    background: #ffffff;
    letter-spacing: -0.011em;
    /* margin: 100px auto 0; */
    /* word-break: break-all; */
    /* border: 1px solid rgb(255, 255, 255); */
    /* margin-top: 0px; */
    
  }
  
  .team-bloc-tabs {
    display: flex;
    width: 400px;
    /* order: 0;
flex-grow: 0; */
  }
  
  .tabs1 {
    padding: 15px;
    text-align: center;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-sizing: content-box;
    position: relative;
    outline: none;
    margin-left: 10px;
    width: 63px;
    margin-top: 5px;
    /* font-size: 2px; */
  }
  

  .tabs1:not(:last-child){
    border-right: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    width: 65px;
    margin-top: 5px;
  }
  
  .active-tabs1  {
    background: white;
    border-bottom: 1px solid transparent;
    color: black;
    font-size: 16px;
    width: 65px;
    margin-top: 5px;
  }
  
  .active-tabs1::before {
    content: "";
    display: block;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 76px;
    height: 3px;
    background: rgb(50, 146, 249);
    font-size: 16px;
   
    
  }
  
  .tabs2 {
    padding: 15px;
    text-align: center;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-sizing: content-box;
    position: relative;
    outline: none;
    padding-left: 10px;
    width: 83px;
    /* font-size: 2px; */
  }
  

  .tabs2:not(:last-child){
    border-right: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    width: 85px;
  }
  
  .active-tabs2  {
    background: white;
    border-bottom: 1px solid transparent;
    color: black;
    font-size: 16px;
    /* width: 85px; */
    
  }
  
  .active-tabs2::before {
    content: "";
    display: block;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 95px;
    height: 3px;
    background: rgb(50, 146, 249);
    font-size: 16px;
    padding-left: 10px;
   
    
  }
  .tabs3 {
    padding: 15px;
    text-align: center;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 255, 255);
    box-sizing: content-box;
    position: relative;
    outline: none;
    /* margin-left: 10px; */
    width: 75px;
    /* font-size: 2px; */
    padding-left: 10px;
  }
  

  .tabs3:not(:last-child){
    border-right: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    width: 75px;
  }
  
  .active-tabs3  {
    background: white;
    border-bottom: 1px solid transparent;
    color: black;
    font-size: 16px;
    width: 75px;
    
  }
  
  .active-tabs3::before {
    content: "";
    display: block;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 3px;
    background: rgb(50, 146, 249);
    font-size: 16px;
    padding-left: 10px;
   
    
  }
  
  
  button {
    border: none;
    
    
    
  }
  .content-tabs {
    flex-grow : 1;
  }
  .content {
    background: white;
    padding: 20px;
    display: none;
    padding-top: 0px;
  }
  /*.content h2 {
    padding: 0px 0 5px 0px;
  }*?
  /*.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }*/
  .content p {
    width: 100%;
    height: 100%;
  }
  .active-content {
    display: block;
  }
  .paginationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }